WebServices/.idea/*
/ServidorAplicacion/ServidorAplicacion/nbproject/private/
/ServidorAplicacion/ServidorAplicacion/build/
/Cliente/nbproject/private/
/Cliente/build/
/ServidorReplica/nbproject/private/
/ServidorReplica/build/